/* NAVBAR */
.navbar-custom {
    background-color: #2E7D32;
}
/* LOGO */
.logo {
    height: 40px;
    width: auto;
    object-fit: contain;
}
/* TEXTO */
.navbar-brand span {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
}
/* LINKS */
.nav-link {
    color: #E8F5E9 !important;
}

    .nav-link:hover {
        color: #C8E6C9 !important;
    }
/* BOTONES */
.btn-login {
    border: 1px solid #ffffff;
    color: #ffffff;
}

    .btn-login:hover {
        background-color: #ffffff;
        color: #2E7D32;
    }

.btn-register {
    background-color: #A5D6A7;
    color: #1B5E20;
    font-weight: bold;
}

    .btn-register:hover {
        background-color: #81C784;
    }

